{% extends 'layouts/normal/base.html' %}
{% load static %}

{% block css %}
    <style>
        body {
            background-image: url("{% static 'img/biblioteca.jpeg' %}");
            background-size: cover; /* Para que la imagen cubra todo el fondo */
            background-repeat: no-repeat; /* Evita que la imagen se repita */
        }
    </style>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-5">
            <div class="card">
                <div class="card-body">
                <p class="fw-light text-center">
                    Registro de usuarios <br>  <strong>📚 megabiblioteca.cl 📚</strong> 
                </p>
                <form action="{% url 'registrar' %}" method="POST">
                    {% csrf_token %}

                    {% if error %}
                        <small class="text-danger">{{ error }}</small>
                    {% endif %}

                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" required>
                        <small class="text-danger" id="nombre-error"></small>
                    </div>

                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" name="apellido" id="apellido" required>
                        <small class="text-danger" id="apellido-error"></small>
                    </div>

                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" name="usuario" id="usuario" required>
                        <small class="text-danger" id="usuario-error"></small>
                    </div>

                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text" class="form-control" name="correo" id="correo" required>
                        <small class="text-danger" id="correo-error"></small>
                    </div>

                    <div class="mb-3">
                        <label for="pass" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="pass" id="pass" required>
                        <small class="text-danger" id="pass-error"></small>
                    </div>

                    
                    <div class="form-group mb-3">
                        <label for="tipo" class="form-label">Tipo</label>
                        <select class="custom-select form-select" name="tipo" id="tipo" required>
                            <option value="admin">Admin</option>
                            <option value="cliente">Cliente</option>
                        </select>
                    </div>
            
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success"><strong>Guardar</strong></button>
                        
                        <a href="{% url 'login' %}" class="text-center mt-3">Volver</a>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    