{% extends 'layouts/normal/base.html' %}
{% load static %}

{% block css %}
    <style>
        body {
            background-image: url("{% static 'img/biblioteca.jpeg' %}");
            background-size: cover; /* Para que la imagen cubra todo el fondo */
            background-repeat: no-repeat; /* Evita que la imagen se repita */
        }
    </style>
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 mt-5">
            <div class="card">
                <div class="card-body">
                <p class="fw-light text-center">
                    Recuperar contraseña <br>  <strong>📚 megabiblioteca.cl 📚</strong> 
                </p>
                <form action="{% url 'recuperar' %}" method="POST">
                    {% csrf_token %}

                    {% include 'layouts/_alert.html' %}

                    {% if error %}
                        <small class="text-danger">{{ error }}</small>
                    {% endif %}

                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text" class="form-control" name="correo" id="correo" required>
                        <small class="text-danger" id="correo-error"></small>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-success"><strong>Recuperar</strong></button>
                    
                        <a href="{% url 'login' %}" class="text-center mt-3">Volver</a>
                        
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    