<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CLASES YA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="shortcut icon" href="img/CLASES-YA-ICONO.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-6">
                <img src="img/CLASES-YA-PORTADA.png" class="img-fluid rounded-top mb-3" alt="">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-dark" href="admin.html">Entrar como profesor</a>
                    <a class="btn btn-info" href="user.html">Entrar como alumno</a>
                    <button id="playButton">Reproducir Sonido</button>
                    <audio id="sound" src="mp3/eyeyey.mp3"></audio>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
        <script>
            // Obtiene referencias al botón y al elemento de audio
            var playButton = document.getElementById('playButton');
            var sound = document.getElementById('sound');
          
            // Agrega un evento de clic al botón para reproducir el sonido
            playButton.addEventListener('click', function() {
              if (sound.paused) {
                sound.play(); // Reproduce el sonido si está en pausa
                playButton.textContent = 'Pausar Sonido';
              } else {
                sound.pause(); // Pausa el sonido si se está reproduciendo
                sound.currentTime = 0; // Reinicia el sonido al principio
                playButton.textContent = 'Reproducir Sonido';
              }
            });
          </script>
          
</body>

</html>